body {
    margin: 0;
    padding: 0;
}

.myForm {
    margin: auto;
    width: 330px;

}

.myInputs {
    display: block;
    padding: 10px;
    margin: 10px;
    width: calc(100% - 44px);
}

.containerTop {
    display: block;
}

.containerApsolute {
    width: 100%;
    opacity: 0.1;
    display: flex;
    position: absolute;
    height: 100vh;
    background-color: tomato;
}

.container {
    height: 100vh;
    display: flex;
    /* contexte sur le parent */
    justify-content: center;
    /* alignement vertical */
    background-image: url('img/form-exo.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.containerform {
    width: 50%;
    background-color: white;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 25px;
}

.titleForm {
    text-align: center;
}

/* modification element */

/* Container info User */
.containeridUsercontainer {
    display: flex;
    justify-content: space-evenly;
}

.containerlocationBlock {
    width: 25%;
}

.containeridUsercontainerprenom {
    width: 50%;
}

.containeridUsercontainernom {
    width: 50%;
}

/* Container dete et télèphone */
.containerNumberContainer {
    display: flex;
    justify-content: space-evenly;
}

.containerNumberContainerdateNaissance {
    width: 50%;
}

.containerNumberContainerphone {
    width: 50%;
    font-size: 1em;
}

/* Container Info sensible User */
.containeruserSecretContainer {
    display: block;
    justify-content: space-evenly;
}

.containeruserSecretContainerEmail {
    width: 50%;
    margin:auto;
}

.containeruserSecretContainerpassword {
    width: 50%;
    margin:auto;
}

.submit {
    width: 100%;
}